
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #848484;

    font-weight: 400;
}

img {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-weight: 600;
    font-size: 120px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    margin-bottom: 15px;

}

.dash {
    position: relative;
}

.dash:after {
    content: '';
    width: 90px;
    height: 3px;
    border-bottom: 3px solid #C41230;
    position: absolute;
    bottom: -27px;
    left: 48%;
    margin-left: -21px;
}

.wrapper-top .dash {
    position: relative;
}

.wrapper-top .dash:after {
    content: '';
    width: 75px;
    height: 3px;
    border-bottom: 2px solid #CBCBCB;
    position: absolute;
    bottom: -27px;
    left: 48%;
    margin-left: -21px;
}

h2 {
    font-size: 38px;
    margin: 0;
}

h3 {
    font-weight: 600;
    font-size: 28px;
    color: #333333;
    letter-spacing: 2.33px;
    line-height: 36px;
    text-transform: uppercase;

}

a {
    text-decoration: none;
}

.dark {
    background-color: #333;
    color: #ffffff;
}

.dark h3 {
    color: white;
}

header {
    background-image: url("../images/diwanee-cover.png");
    height: 934px;
}

.header-top {
    height: 74px;
    padding: 55px 0;
    overflow: hidden;
}

.logo-img {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

nav {
    display: inline-block;
    float: right;
    padding-right: 0;
}

nav ul {
    /*float: right;*/
    list-style: none;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 46px;

}

nav ul li:last-child {
    display: inline-block;
    margin-right: 0;
}

nav a {
    display: block;
    color: #545454;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

}

nav a:hover {
    text-decoration: underline;
}

.navbar {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.header-text {
    margin-top: 120px;

}

.header-text p {

    font-size: 30px;
    color: #333;
    letter-spacing: 1px;
    line-height: 40px;
    max-width: 932px;
}

.wrapper-title {
    font-weight: 600;
    font-size: 60px;
    color: #333;
    letter-spacing: 3px;
    line-height: 75px;
    text-transform: uppercase;
    margin-bottom: 45px;

}

.oval {
    background-color: rgba(0, 0, 0, 0.1);
}

.title-up {
    font-size: 14px;
    color: #9B9B9B;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.wrapper-main {
    margin-bottom: 100px;
}

.job-col {
    padding: 50px 0;
    margin-left: 200px;
}

.tags {
    overflow: hidden;
}

.tags button {
    float: left;
    font-size: 16px;
    color: #C41230;
    letter-spacing: 2px;
    margin-left: 15px;
}

.job-description {
    font-weight: 300;
    font-size: 24px;
    color: #888;
    line-height: 34px;

}

button {
    border: 1px solid #979797;
    font size: 18px;
    color font: #333;
    letter-spacing: 2px;
    line-height: 23px;
    background-color: transparent;
}

.dark button {
    color: white;
}

.middle-button {
    margin: 100px 0;
}

.wrapper-top {
    margin-bottom: 100px;

}

.wrapper-box {
    padding: 100px 0;
}

.right-button {
    float: right;
    margin-left: 20px;
    margin-top: 80px;

}

.right-button button {
    padding: 7px 35px;
}

.job-title {
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    letter-spacing: 4px;
    line-height: 30px;
    text-transform: uppercase;

}

.news-title {
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    letter-spacing: 4px;
    line-height: 30px;

}

.news-text {
    padding: 10px 0;
    font-size: 22px;
    line-height: 34px;
    color: #888888;
}

.tekst {
    margin: 0 30px;
}

.text-down {
    padding: 10px 0;
    font-size: 17px;
    line-height: 30px;
    color: #888888;
}

.follow img {
    margin: 10px;
}

.footer {
    margin-top: 50px;
    background-color: #333;
    padding: 30px 0;
}

.address-text {
    font-weight: 300;
    font-size: 18px;
    color: #9B9B9B;
    line-height: 28px;
}

.city-names {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.city, .pin {
    display: inline-block;
}

.city {
    margin-left: 10px;
}

.copyright {
    font-weight: 300;
    font-size: 12px;
    color: #5B5B5B;
    letter-spacing: 2px;
    background: #2D2D2D;

}